.idea
*.DS_Store
*__pycache__

venv/
.env

########### may unignore the following in the future ###########
# data/ (let user build their own results)
data/results/
data/results_original/
data/results_v1/
data/results_v1_rewrite/
# Original Data from https://github.com/czyssrs/ConvFinQA/blob/main/data.zip
data_convfinqa/

# vector_db/ (let user build their own vector db)
data/vector_db/

# scripts/ (internal scripts for analyzing the data)
scripts/